<ul class="table-view">
  {{#items}}
    <li class="table-view-cell">{{name}} <button class="btn {{classes}}">{{message}}</button></li>
  {{/items}}
</ul>
<div class="content-padded">
  <button data-action="startAll" class="start-all btn btn-positive btn-block">Start All</button>
  <button data-action="restartAll" class="restart-all btn btn-primary btn-block">Restart All</button>
  <button data-action="stopAll" class="stop-all btn btn-negative btn-block">Stop All</button>
</div>